<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to the Recipe App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Find and save your favorite recipes from around the world.
      <ion-list>
        <ion-item routerLink="/pages/search">
          <ion-label>Search Recipes</ion-label>
        </ion-item>
        <ion-item routerLink="/pages/details">
          <ion-label>See Details</ion-label>
        </ion-item>
        <ion-item routerLink="/pages/favorites">
          <ion-label>View Favorites</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
